<div class="noteList" ng-controller="noteListController as noteList">
    <form  ng-submit="noteList.addNote()">
        <input class="input" type="text" ng-model="noteList.noteText"  size="30" placeholder="Add new Note" required>
        <input class="add" type="submit" value="+">
    </form> 
    <ul class="unstyled1">
        <li class="eachItem1" ng-repeat="note in noteList.notes">
        
                <!-- <input size="3" type="text" class="done1" value="{{note.text}}"> -->
                <textarea rows="1"  cols="4" class="done1">{{note.text}}</textarea>
             <div class="btn1">
                <button class="todobtn" ng-click="noteList.updateTodo($index)">/</button>
                <button class="todobtn" id="{{note.id}}" ng-click="noteList.delTodo($index)">X</button>
                
                </div> 
            
        </li>
    </ul>
</div>