<div class="noteList" ng-controller="noteListController as noteList">
    <form  ng-submit="noteList.addNote()">
        <input class="input" type="text" ng-model="noteList.noteText"  size="30" placeholder="Add new Note" required>
        <input class="add" type="submit" value="+">
    </form> 
    <ul class="unstyled1">
        <li class="eachItem1" ng-repeat="note in noteList.notes">
        
                <span class="done">{{note.text}}</span>
            </label>
            <div class="btn"><button class="todobtn" ng-click="noteList.updateTodo($index)">/</button>
                <button class="todobtn" id="{{note.id}}" ng-click="noteList.delTodo($index)">X</button></div>
            
        </li>
    </ul>
</div>